<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles/styles.css">
        <title>ACS Inventory Web Application</title>
    </head>
    <body>
        <ul>
            <li class="dropdown"><a class="dropbtn">Inventory</a>
            <div class="dropdown-content">
                <a href="home">Home</a>
                <a href="viewinventory">View Inventory</a>
                <a href="updatestock">Update Stock</a>
                <a href="additem">Add Item</a>
                <a href="deleteitem">Delete Item</a>
            </div>
            </li>
            <li class="dropdown"><a class="dropbtn">Orders</a>
                <div class="dropdown-content">
                    <a href="needtoorder">Need to Order</a>
                    <a href="pendingorders">Pending Orders</a>
                    <a href="receiveorders">Receive Orders</a>
                    <a href="completedorders">Completed Orders</a>
                </div>
                </li>
                <li class="dropdown"><a class="dropbtn">Fiscal</a>
                    <div class="dropdown-content">
                        <a href="ytdspending">YTD Spending</a>
                        <a href="eoyinventories">EOY Inventories</a>
                        <a href="spendingbycc">Spending by CC</a>
                        <a href="spendingbygl">Spending by GL</a>
                        <a href="spendingbyitem">Spending by Item</a>
                    </div>
                </li>
                <li class="dropdown"><a class="dropbtn">ITSD</a>
                    <div class="dropdown-content">
                        <a href="itsd-pc">PC Inventory</a>
                        <a href="itsd-mobile">Mobile Inventory</a>
                        <a href="itsd-printers">Printer Inventory</a>
                        <a href="pcr">Annual PCR</a>
                    </div>
                </li>
        </ul>
        <h1>Items To Be Ordered</h1>
        <div style="overflow-x:auto"></div>
        <table style="width: 100%">
            <tr>
                <th>Name</th>
                <th>Division</th>
                <th>Location</th>
                <th>Quantity Needed</th>
            </tr>
            {%for invItem in data%}
            <tr>
                <td>{{invItem[0]}}</td>
                <td>{{invItem[1]}}</td>
                <td>{{invItem[2]}}</td>
                <td>{{invItem[5]}}</td>
            </tr>
            {%endfor%}
        </table>
    </div>
        </body>
    </body>
</html>
